@using savnmore
@{
    ViewBag.Title = "About SavNmore.com";
}

<h2>About SavNmore.com</h2>
<h3></h3>
<div class="fancyborder">
<h3>Simplify Your Shopping</h3>
<p>

SavNmore.com takes your grocery shopping to a whole new level, by providing one place to see weekly sales and compare the best prices on items you buy everyday.
</p>
</div>
<h3></h3>
<h3>Weekly Shopping Made Easy</h3>
<p>
<img   src="../../images/shop-cart-icon.png" alt="Weekly Shopping Made Easy" title="Weekly Shopping Made Easy" />

Every week we compile a list of sales circulars from your favorite stores in an easy to browse, local shopping tool. You can create a shopping list for sale items from multiple stores in a few simple clicks.
</p>
<h3></h3>
<div  class="fancyborder">
<h3>Find The Best Price</h3>
<p>
<img  src="../../images/shopping-basket-add-icon.png" height="120px" alt="Weekly Shopping Made Easy" title="Weekly Shopping Made Easy" />
You can find items on sale for your weekly shopping trips, or compare sale items from different nearby stores to find the best deal.
</p>
</div>
<h3></h3>
<h3>Budget and Save With Ease</h3>
<p>
<img  src="../../images/money-icon.png" alt="Simplify Your Shopping" title="Simplify Your Shopping" />

     You can easily add and remove sale items to your shopping list, and see the subtotal of your shopping trip easily. Our tools make staying on budget easier than ever before. 
        
</p>
