@{
    ViewBag.Title = "Privacy Policy";
}

<h1>PRIVACY STATEMENT</h1>

Your privacy is important to SavNmore.com LLC, also known as SavNmore.com and SavNmore.com. SavNmore.com DOES NOT SELL INFORMATION.  This privacy statement provides information about the personal information that SavNmore.com or any of its aliases collects, and the ways in which SavNmore.com uses that personal information. 

<h3>Personal information collection</h3> 

SavNmore.com may collect and use the following kinds of personal information: <br />
•[information about your use of this website (including, pages you visit on the site; form info which you provide on the site's chat room, billboard, color registration, book review, feedback questionnaire, and casino portal sections,; purchases made; services used; and training videos viewed);] 
<br />•information that you provide using for the purpose of registering with the website (including the sites color registration, messageboard and chat, casino portal; and training video membership sections); 
<br />•information about transactions carried out over this website (including apparel and merchandise purchases; services paid for; training video memberships purchased); 
<br />•information that you provide for the purpose of subscribing to the website services (including subscribing to the siites news cast; and monthly video training; any travel booking, tournament booking and/or restaurant reservations services); and 
<br />•any other information that you send to SavNmore.com  

<h3>Using personal information</h3>

SavNmore.com may use your personal information to: 
 
<br />•administer this website; 
<br />•personalize the website for your use of message board and chat; 
<br />•enable your access to and use of the website services; 
<br />•publish information about you on the websites leaderboard; 
<br />•send to you products that you purchase; 
<br />•supply to you services that you purchase; 
<br />•send to you statements and invoices; 
<br />•collect payments from you; and 
<br />•send you marketing communications.
<p>
Where SavNmore.com discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement. 

</p>
<p>
In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, SavNmore.com may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
</p>
<h3>Securing your data</h3>

SavNmore.com will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. 
<br />
SavNmore.com will store all the personal information you provide [on its secure servers. 
<br />
[Information relating to electronic transactions entered into via this website will be protected by encryption technology.

<h3>Cross-border data transfers</h3>

Information that SavNmore.com collects may be stored and processed in and transferred between any of the countries in which SavNmore.com operates to enable the use of the information in accordance with this privacy policy.
<br />
[In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.]
<br />
You agree to such cross-border transfers of personal information.

<h3>Updating this statement</h3>

SavNmore.com may update this privacy policy by posting a new version on this website. 
<br />
You should check this page occasionally to ensure you are familiar with any changes.

<h3>Other websites</h3>

This website contains links to other websites.
<br />
SavNmore.com is not responsible for the privacy policies or practices of any third party.

<h3>About this privacy statement</h3>

This document is based on a Contractology template available at www.freenetlaw.com. Premium Contractology forms include end user license terms and conditions. 

<h3>Contact SavNmore.com </h3>

If you have any questions about this privacy policy or SavNmore.com's treatment of your personal information, please write:
<br />
<br />•by email info@SavNmore.com or 
<br />•by postal mail to: SavNmore.com, 95 South Shore Drive, South Amboy, NJ 08879.

