<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- If using SQL Server or Sql Server Express -->
    <!-- <add name="ApplicationServices"
       connectionString="data source=.\SQLEXPRESS;Initial Catalog=savnmore;database=savnmoreEntities;Integrated Security=SSPI;User Instance=false;MultipleActiveResultSets=True;"
       providerName="System.Data.SqlClient" /> -->
    <!-- If using SQL Server Compact 4.0  -->
    <add name="ApplicationServices" connectionString="Data Source=|DataDirectory|Database1.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <!-- Membership Settings -->
    <add key="ApplicationName" value="EFMembership" />
    <!-- Path to the log file Settings -->
    <add key="LogFile" value="~/App_Data/log.txt" />
    <!-- The number if items to show per page in paged records-->
    <add key="NumberOfItemsPerPage" value="35" />
    <!-- If true, model changes will cause the database to be dropped and recreated (NOT RECOMMENDED FOR PROD)-->
    <add key="DropRecreateDatabase" value="false" />
    <!-- If DropRecreateDatabase is true, you can create sample roles and users (NOT RECOMMENDED FOR PROD)-->
    <add key="CreateSampleRolesAndUsers" value="false" />
    <!-- If CreateSampleRolesAndUsers is true, enter the number of sample users to create (NOT RECOMMENDED FOR PROD)-->
    <add key="NumberOfSampleUsers" value="20" />
    <add key="DomainUrl" value="http://www.savnmore.com" />
    <!-- Upon initialization users will have this email domain, must be all lowercase and valid email address-->
    <add key="DomainEmailSuffix" value="@savnmore.com" />
    <!-- Welcome email Settings-->
    <add key="SendWelcomeEmail" value="true" />
    <!-- The smtp server details -->
    <add key="SmtpServer" value="localhost" />
    <add key="SmtpServerPort" value="25" />
    <!-- The welcome  email details -->
    <add key="WelcomeEmailSender" value="info@savnmore.com" />
    <add key="WelcomeEmailSubject" value="Welcome to ##DOMAINURL##!" />
    <!-- HTML must be encoded in the web config for proper parsing -->
    <add key="WelcomeEmailBody" value="         Dear ##USERNAME##,&lt;br/&gt;&lt;br/&gt;         Welcome to ##DOMAINURL##!&lt;br/&gt;         Here are the login details for your account:&lt;br/&gt;&lt;br/&gt;         Username: ##USERNAME##&lt;br/&gt;         Registered Email: ##EMAIL##&lt;br/&gt;&lt;br/&gt;         You can login and start enjoying the benefits your membership entails!&lt;br/&gt;         &lt;a href='##DOMAINURL##'&gt;##DOMAINURL##&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;         Kind Regards,&lt;br/&gt;         ##DOMAINURL##" />
    <!-- User Self Service Reset Password Settings -->
    <add key="SendResetPasswordEmail" value="true" />
    <!-- The reset password email details -->
    <add key="ResetPasswordSender" value="info@savnmore.com" />
    <add key="ResetPasswordSubject" value="Your request to reset your password" />
    <!-- HTML must be encoded in the web config for proper parsing -->
    <add key="ResetPasswordEmailBody" value="         &lt;p&gt;Dear ##USERNAME##,&lt;br/&gt;         We recently received a password reset request for your account.&lt;br/&gt;&lt;br/&gt;         Please click the following link to reset your password: &lt;a href='##LINK##'&gt;##LINK##&lt;/a&gt;&lt;br/&gt;         You can also copy and paste this link into your browser: ##LINK##&lt;/p&gt;         &lt;p&gt;If you did not request a password nothing further needs to be done.&lt;br/&gt;         Kind Regards,&lt;br/&gt;         ##DOMAINURL##" />
    <!-- The username marker in the email body text will be replaced with the username-->
    <add key="UserNameMarker" value="##USERNAME##" />
    <!-- The user email marker in the email body text will be replaced with the user's email-->
    <add key="UserEmailMarker" value="##EMAIL##" />
    <!-- The domain marker in the email body text will be replaced with the domainurl-->
    <add key="DomainUrlMarker" value="##DOMAINURL##" />
    <!-- this is the full link to the controller action that wil allow the user to reset thier password -->
    <add key="ResetPasswordLink" value="http://www.savnmore.com/Account/ResetPassword/?username=" />
    <!-- the link to reset the password in the email body will be replaced with the value in ReserPasswordLink -->
    <add key="EmailResetLinkMarker" value="##LINK##" />
    <!-- When a user resets a password, specify how long the link should be valid in days -->
    <add key="PasswordResetExpireInDays" value="1" />
    <!-- Wether or not to show the password strength indicator when entering passwords -->
    <add key="UsePasswordStrength" value="True" />
    <!-- a setting of true will throw an error when a role is deleted that has members -->
    <add key="ThrowErrorOnDeletingPopulatedRoles" value="False" />
    <!-- the Path to the folder where role photos are stored-->
    <add key="RoleImagesRootPath" value="~/App_Data/Images/Roles/" />
    <!-- the default photo for roles, which should reside in the RolesImagesRootPath-->
    <add key="DefaultRolePhoto" value="roles.png" />
    <!-- the Path to the folder where user profile photos are stored-->
    <add key="UserImagesRootPath" value="~/App_Data/Images/Users/" />
    <!-- the default photo for users, which should reside in the UserImagesRootPath-->
    <add key="DefaultUserPhoto" value="user.png" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--<system.net>
    <defaultProxy>
      <proxy proxyaddress="http://proxy.ops.tiaa-cref.org:8080/"   autoDetect="True"/>
      
    </defaultProxy>
  </system.net>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="savnmore.Services.EfRoleProvider, savnmore" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Edition Client Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact Edition Client 4.0" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>