@{
    ViewBag.Title = "Password Reset Invalid";
}

<h2>Password Reset Invalid</h2>
<p>
There was a problem resetting your password. The request may have expired.
</p>
<h3>What you can try:</h3>
<ul>
    
    <li>Verify you have all the characters in your email's request link.</li>
     <li>Try to copy and paste the request link into your browser's address bar.</li>
    <li>Request a password reset again: @Html.ActionLink("Forgot Password","ForgotPassword")</li>
    <li>Contact us if you are still having difficulties.</li>
</ul>
